<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes" thread-count="5"
          name="/Users/thameeramalinga/DeveloperStackQA/Day-07/MyFirstAutomation/src/test/java/paralleEx">
        <classes>
            <class name="paralleEx.TestClass1"/>
            <class name="paralleEx.TestClass2"/>

        </classes>
    </test>
</suite>